/*****************************************************************************
 * menu settings  
 *****************************************************************************/  

/* xs: default up to 750px ***************************************************/

// ==== main menu ====
// with search, browse, bookmarks ...

.caret {
    margin-left: 4px; // more space for the drop down icon
}

.mir-main-nav {
    nav {
	background-color: $brand-primary;
        .navbar-nav {      
	    li {
	        border-top: 1px solid $page-bg;
            }
	    .dropdown-menu {
		position: relative;
                background-color: $content-bg;
                border-radius: 0px !important;
                margin-top: 0px !important;
                border: 0px solid rgba(0,0,0,0.15);
                box-shadow: 0 0px 0px rgba(0,0,0,0.176);
                padding: 0px 0;
                &::before {
                    display: none;
                }		
	    }
	    .open {
		.dropdown-menu {
		    li {
                        a {
                            color: $brand-primary;
			    &:hover {
				color: $header-bg;  
		            }
                        }
                    }	
		}
            }  
        }
    }
}

.mir-main-nav nav .navbar-nav > li > a:hover {
    color: $header-bg;
}

.mir-main-nav nav .navbar-nav .dropdown-menu > li > a:hover, 
.mir-main-nav nav .navbar-nav .dropdown-menu > li > a:focus {
    color: $header-bg;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open.active > a,
.navbar-default .navbar-nav > .open.active > a:hover,
.navbar-default .navbar-nav > .open.active > a:focus {
    color: $brand-primary;
    background-color: $brand-warning;
}

.mir-main-nav nav .navbar-nav .dropdown-menu > .active > a, 
.mir-main-nav nav .navbar-nav .dropdown-menu > .active > a:hover, 
.mir-main-nav nav .navbar-nav .dropdown-menu > .active > a:focus {
    color: $brand-primary;
    background-color: $brand-warning;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #3b5b8a;
    color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a, 
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: $brand-primary;
    background-color: $brand-warning;

}

.mir-main-nav nav .navbar-nav .dropdown-menu::before {
    border-color: transparent transparent $brand-primary transparent; 
}

// options menu 
// with settings and language switcher
#options_nav_box ul {
    min-width: auto;
    left: auto;
    right: -10px;
    padding: 5px 5px 5px 0px;
    li {
        display: inline-block;
    }
}

.mir-prop-nav .navbar-nav > li > a {
    color: white;
    & .caret {
        border-top-color: white;
    }    
    &:hover,
    &:focus {
        color: white;
	text-decoration: underline;
	& .caret {
	    border-top-color: white;
	}
    }
}

// footer menu 
// imprint, privacy, contact
footer {
    .mir-logo-box {
         text-align: center;
	 margin-bottom: 20px;
     }
    .mir-footer-nav {
        text-align: center;
        ul {
            list-style: none;
	    padding: 0;
	    display: flex;
	    justify-content: space-evenly;
	    li {
	        display: inline-block;
	        text-align: center;
	        margin-left: 0;
	    }
        }
    }
}

/* xs hd *********************************************************************/ 
@media (min-width: 420px) {
}  

/* custom width **************************************************************/ 
@media (min-width: 550px) { }  

/* sm: up to 970 px **********************************************************/ 
@media (min-width: $screen-tablet) {
    #options_nav_box ul li {         
        display: block;     
    }

    .mir-main-nav {
	height: 60px;
        nav {
	    background-color: none;
            .navbar-nav {
	        border-left: 1px solid white;   	    
                li { 
		    border-top: 0px solid $page-bg;
		}
	        .dropdown-menu {
		    position: absolute;
		    background-color: $brand-primary;
		    border-radius: 4px !important;
                    margin-top: 4px !important;
                    border: 1px solid rgba(74, 114, 174,1);
                    box-shadow: 0 6px 12px rgba(0,0,0,0.176);
		    padding: 5px 0;
		    &::before {
		        display: block;
		    }
	        } 
                .open {
                    .dropdown-menu {
                        li {
                            a {
                                color: white;
                            }
                        }
                    }
                }	       	
            }
        }
    }
footer {
    .mir-logo-box {
         text-align: left;
         margin-bottom: 0px;
     }
    .mir-footer-nav {
        text-align: right;
        ul {
            justify-content: flex-end;
            li {
                text-align: right;
		margin-left: 15px;
            }
        }
    }
}    
}   

/* md: up to 1170 px *********************************************************/ 
@media (min-width: $screen-desktop) { 
    #options_nav_box {
        margin-right: 30px;
    }
}  

/* lg: larger than 1170 px ***************************************************/ 
@media (min-width: $screen-lg-desktop) {
}
